p.formLabel {
  margin: 3px 0;
  font-weight: bold;
}
.titleOfDetails {
  font-size: 1.6vw;
  font-weight: bold;
  margin: 6px 0;
}
#summaryTextarea {
  resize: vertical;
}
.sectionTitle {
  font-size: 1.8vw;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body {
  background-color: rgb(202, 202, 202);
}
.fillDetailCard {
  background-color: white;
  width: 500px;
  padding: 1vw 1vw;
  margin-bottom: 1vw;
}
.cvPreview {
  background-color: white;
  padding: 1vw 1vw;
  height: fit-content;
}